.menubar{
  /* min-height:3vh; */
  /* height:40px; */
  /* max-height:4vh; */
  /* background-color: #88b5de; */
  /* box-shadow: 0px 3px 6px -6px rgb(41, 40, 73); */
  height: 5vh;
  padding: 0 20vw;
  margin-top: 1vh;
}

/* #basic-navbar-nav.show{
  background-color: #b1c8dd;
  padding: 1vh 5vw;
  border-radius: 5px;
} */

.main-page {
  /* margin: 3vh 20vw; */
  /* margin-bottom:0vh; */
  padding: 3vh 20vw;
  min-height:89vh;
}

.footer {
  /* padding: 0vh 40vw; */
  margin: 0 40vw;
  height:5vh;
}

li{
  font-size:large;
}

.logo{
  height: 5vh;
}

/* for generic mobile devices */
@media (max-width: 800px){
  .main-body {
      padding: 0;
  }

  .logo{
      height: 4vh;
  }
  .menubar{
      height:7vh;
      margin: 0;
      padding:0;
  }

  .footer{
      padding: 0;
      margin: 0 5vw;
  } 
}